/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.components-panel__body label {
  display: block;
}

.block-editor-url-input input[type="text"] {
  width: auto;
}

.wp-block-pandp-blocks-box a::before {
  display: none !important;
}

.wp-block-pandp-blocks-box a:hover .box-content {
  opacity: 1;
}

.wp-block-pandp-blocks-box .box-content {
  width: 100%;
}
